.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table#song-list {
  margin: 0 auto;
  border: #F5F5F5 2px solid;
  padding: 10px;
}
/*Body and larger individual element styles*/
body{
  background-image: url("https://i.imgur.com/6tO2RTB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #272828;
  text-shadow: 2px 2px 1px #41827e;
}

div.point {
  margin-top: 50px;
  width: 400px;
  height: 200px;
}

/* CSS for Logo Pic and Attached Text */

img {
  border-radius: 16px;
}

.thumbnail {
    border-radius: 50%;
    position: relative;
    opacity: .75;
    box-shadow: 2px 2px 1px #41827e;
    margin: 0 auto;
}

.caption {
    color: #F5F5F5;
    text-shadow: 2px 2px 1px #41827e;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    margin: auto;
}

/*Button and Link Styles*/

/* CSS for customized primary color in Bootstrap*/
.my-primary{
  color: #F5F5F5;
  background-color: #63cccc;
}

.my-primary:focus, .my-primary:hover{
  color: #F5F5F5;
  background-color: #63cccc;
}

/* Library page CSS for album info */

.library {
  margin-top: 100px;
}

.album-item {
  margin-left: 100px;
  margin-right: 100px;
}

img.cover-pic {
  width: 150px;
  height: 150px;
  display: inline;
}

.album-info {
  text-decoration: none;
  color:  #272828;
  margin: 0 auto;
}

.album-info:hover {
  text-decoration: none;
  color:  #272828;
}
